.resources__logo-zone {
    margin: 80px auto 217px;
    width: 1100px;
    display: flex;
    align-items: stretch;
<<<<<<< HEAD
    padding: 0;
    list-style: none;
  }
=======
  }
>>>>>>> f93473abd2ea510776263f57e8698aa2da1df63e
