.kaufman__triangle {
    background-image: url(../../../images/kaufman-triangle.svg);
    background-size: contain;
    position: absolute;
    right: -210px;
    top: 0px;
    width: 877px;
    height: 877px;
    z-index: 1;
<<<<<<< HEAD
  }
=======
  }
>>>>>>> f93473abd2ea510776263f57e8698aa2da1df63e
