.khan__book-pic {
<<<<<<< HEAD
    object-fit: cover;
=======
>>>>>>> f93473abd2ea510776263f57e8698aa2da1df63e
    margin-right: 48px;
    width: 620px;
    height: 608px;
    object-fit: cover;
    object-position: left top;
  }